.gallery{
    position: relative;
	width: 95%;
	border: 10px solid black;
	margin: 0 auto;
/*	display: grid;*/
/*	grid-template-columns: 1fr;*/
/*    grid-gap: 0;*/
/*    box-sizing: border-box;*/
/*    grid-column-gap: 8px;*/
/*    grid-row-gap: 5px;    */
}

a {
    font-size: 0;
}

.gallery img{
	width: 100%;
}

.item{
	border: 2px solid black;
}